{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="header-wrap">
</div>

<div class="menu-wrap">
	<div class="menu">
		<ul>
          <li><a href="{% url 'html_tmplt:index' %}" >Home</a></li>
            <li><a href="{% url 'html_tmplt:about' %}" >About</a></li>
            <li><a href="{% url 'html_tmplt:acoustic' %}" >Acoustic</a></li>
      <li><a href="{% url 'html_tmplt:electric' %}" >Electric</a></li>
      <li><a href="{% url 'html_tmplt:guitartuner' %}" class="active" >Tuner</a></li>
			
        </ul>
    </div>
    
    <div class="socia-wrap">
	<div class="socail">
		<ul>
          <li><a href="https://web.facebook.com/hubguitar?_rdr"><img src="{% static 'images/facebook.png' %}" alt="" /></a></li>
            <li><a href="https://twitter.com/hubguitar"><img src='{% static "images/twitter.png" %}' alt="" /></a></li>
		</ul>
	</div>
</div>
</div>

<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 10</div>
    <img src='{%static "images/1.png" %}' style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 10</div>
    <img src='{%static "images/2.png" %}' style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 10</div>
    <img src='{%static "images/3.png" %}' style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">4 / 10</div>
    <img src='{%static "images/4.png" %}' style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">5 / 10</div>
    <img src='{%static "images/5.png" %}' style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">6 / 10</div>
    <img src='{%static "images/6.png" %}' style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">7 / 10</div>
    <img src='{%static "images/7.png" %}' style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">8 / 10</div>
    <img src='{%static "images/8.png" %}' style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">9 / 10</div>
    <img src='{%static "images/9.png" %}' style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">10 / 10</div>
    <img src='{%static "images/10.png" %}' style="width:100%">
  </div>


  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span> 
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span> 
  <span class="bu" onclick="currentSlide(10)"></span>   
  </div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
}
</script>
 {% endblock content %}
 {% block footer %} 
  <div class="portfolio-content">
	<div class="gtf"></div>

<div class="footer-wrap">
  <div class="wrap">

    <div class="panel">
      <div class="title">
        <h1>Contact us </h1>
      </div>
      <div class="cotact">
        <ul>
          <li><img src='{% static "images/icon6.png" %}' alt="" />(000) 888 888888</li>
          <li><img src='{% static "images/icon8.png" %}' alt="" />Austin Clyde Gueta</li>
        </ul>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
</div>
{% endblock footer %}
